.container {
  position: relative;
  width: 400px;
  height: 555px;
  background: purple;
  border-radius: 16px;
  padding: 20px;
}

.search-box {
  position: relative;
  width: 100%;
  height: 55px;
  background: slateblue;
  display: flex;
  align-items: center;
}
